html
    head
        title= title
    style
        include style.css
    body
        div(class='flex-column')
            h1(id='error-header' class='center')= "An error occured."
            a(href="/" class='center text-white') Back to home