footer {
  background-color: rgb(141, 140, 132);
  color: blue;
  font-family: sans-serif;
  font-size: 30px;
  width: 50%;
  margin-top: 10%;
}

table, th, td {
  border: 3px solid darkslategrey;
  border-collapse: collapse;
}

th {
  font-weight: 100;
}

th, td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  text-align: center;
}

table {
  text-align: left;
}

#pierwszy {
  background-color: yellowgreen;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

#drugi {
  background-color: cyan;
  width: 75%;
  position: relative;
}

#trzeci {
  width: 200px;
  background-color: darkorchid;
  position: absolute;
  left: 100px;
  top: 50px;
  z-index: 1;
}

img {
  display: block;
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.pogoda {
  font-size: small;
}

.pogoda-header {
  font-weight: bold;
}

.info-box {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main-info {
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(248, 211, 108);
  display: flex;
  flex-wrap: wrap;
  border: 3px solid rgb(224, 111, 36);
}

#lot-z, #lot-do {
  margin-left: 10%;
  margin-right: 10%;
  width: 30%;
  background-color: rgb(224, 111, 36);
  padding-bottom: 15px;
}

#plane-info {
  background-color: rgb(91, 190, 91);
  border: 3px solid green;
}

#plane-box {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 15px;
  width: 40%;
  background-color: green;
}

#pass-info {
  background-color: rgb(118, 183, 236);
  border: 3px solid blue;
}

#pass-box {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: rgb(68, 68, 228);
}

#back {
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  background-color: cornflowerblue;
  border: 3px solid blue;
}